.DS_Store
__pycache__/
*.pyc

src/CMakeCache.txt
src/CMakeFiles/
src/Makefile
src/cmake_install.cmake
src/*.out
src/clean_pel.sh

CMakeCache.txt
CMakeFiles/
Makefile
CMakeUserPresets.json
/build/

src/*.eqdsk
src/*.geqdsk
src/*.png
src/nml_pellet*.dat
src/prof*.dat
src/msg_pellet*.dat
src/sum_pellet*.dat

src/build/
src/config/user.cmake

# Ignore python cache and local file changes
./Python/__pycache__/**
./Python/Pellet*.py
./Python/pellet.py
Python/

# Ignore vscode files
.vscode

# Ignore local doc files
./documentation/pellet_docs/
