# Ignore fortran build files
./src/build/*

# Ignore module files
./src/build/modules/*

# Ignore CMake/make files
./src/build/CMakeFiles/*
./src/build/CMakeCache.txt
./src/build/Makefile
**/build/
./src/config/user.cmake
./src/cmake_install.cmake

# Ignore output files
./src/build/*.dat
./src/build/*.txt

# Ignore local input files
./src/nml_pellet.dat
./src/nml_pellet*.dat
./src/build/nml_pellet*.dat
./src/*.eqdsk
./src/prof*.dat

# Ignore python cache and local file changes
./Python/__pycache__/*
./Python/Pellet*.py
./Python/pellet.py
./Python/*

# Ignore vscode files
.vscode

# Ignore local doc files
./documentation/pellet_docs/
